    .tablero {
        position: relative;
        text-align: center;
        width: 800px;
        height: 800px;
        border: 1px solid #333333;
        background-color: #FFF8F0;
        margin: -10px auto;
    }

    .cuadro {
        position: relative;
        width: 100px;
        height: 100px;
        float: left;

    }

    .cuadroBlanco {
        background-color: rgb(241, 241, 241);
    }

    .cuadroNegro {
        background-color: black;
    }

    .corte {
        clear: both;
    }

    .pieza {
        font-family: fantasy;
        font-size: 75px;
        height: 75px;
        position: absolute;
        left: 13px;
        bottom: 35px;
        margin-top: 10px;
    }

    .pieza:hover{
        cursor: pointer;
    }

    .v-dragged.pieza {
        font-weight: bold;
        opacity: 0.5;
    }

    .piezaNegra {
        color: #222;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
    }

    .piezaBlanca {
        color: rgb(223, 193, 156);
        text-shadow: 1px 1px 1px rgb(255, 255, 255);
    }

    .puedeComerse{
        background-color: red !!important;
    }

    .puedeMoverse{
        background-color: green !important;
    }